<h1>Editing case log</h1>
<hr>
<div class="row">
    <%= render 'form' %>
	<% if @case_log.errors.any? %>
    <div id="error_explanation" class="col-sm-3">
      <strong><%= pluralize(@case_log.errors.count, "error") %> prohibited this case_log from being saved:</strong>

      <ul>
      <% @case_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>
</div>